h1{
     color: #fc709b;
}
.weather-app{
    max-width: 600px;
    margin: 30px auto;
padding: 20px;
border: 1px solid #70757a;
border-radius: 15px;
}
h1{
    color: rgb(32, 33, 36);
    cursor: pointer;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 80px;
    line-height: 28.8px;
    text-align: left;
}